body {background-color:#386091}
h1 {font-family: Calibri; font-size: 50px;
	text-align:center;
color:#332233;}
#b {font-weight:bold;
font-size:30px;}

#key{font-family: Segoe Print;
font-weight: bold}

ul{font-size:  35px;
	color:#ffffff}
	h2{font-size: 40px; color:#332233}
	#t{width: 180px;}
	table{border-width:10; }
	hr {color:#ffffff}
